<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Websocket console</title>
	<base href="/">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{{ asset('app/assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('app/assets/bower_components/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('app/assets/bower_components/Ionicons/css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('app/assets/css/skins/_all-skins.min.css') }}">
	<link rel="stylesheet" href="{{ asset('app/assets/css/AdminLTE.css') }}">
	<link rel="stylesheet" href="{{ asset('app/styles.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="{{ asset('app/assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('app/assets/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('app/assets/bower_components/fastclick/lib/fastclick.js') }}"></script>
	<script type="text/javascript" src="{{ asset('app/assets/js/adminlte.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('app/assets/js/demo.js') }}"></script>
</head>

<body class="sidebar-mini skin-black-light">
	<div class="console-window">
